/* global scope variables */
:root {
    /* color */
    --color-white: #fff;
    --color-yellow: #ffff00;
    /* button */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}
